/* .toaster-container{
  position: absolute;
  top:0;
  right:0;
  background: rgb(219, 246, 219);
  border-left: 1px solid var(--error);
  border-radius: 0 4px 4px 0;
  height: 150px;
  width: 750px;
} */